body {
    margin: 0%;
}
thead {
    font-family: sans-serif;
    color: black;
    background-color:cyan;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    
    border: 1px solid black;
}
th, td {
    padding: 10px;
}
h1{
    font-size: 5em;
    letter-spacing: 5px;
    text-shadow: 0 0 20px cyan;
    text-shadow: 0 0 30px cyan;
    text-shadow: 0 0 50px cyan;
    text-shadow: 0 0 90px cyan;
    text-transform: uppercase;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}
